<nav>
    <div class="nav-wrapper">
        <a href="{{ path('homepage') }}" class="brand-logo">Bonobook</a>
        <ul class="right">
            <li><a href="{{ path('showUser', {'id': user.getId() }) }}">{{ user.getUsername() }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        </ul>
    </div>
</nav>